# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Proje çıktıları
Resimler/
*.log
failed_models.txt

# Yerel kopyalar
*Kopya*.txt
models_test.txt
